xcf.xcodeproj/project.xcworkspace/xcuserdata/toddbruss.xcuserdatad/UserInterfaceState.xcuserstate
xcf.xcodeproj/project.xcworkspace/xcuserdata/toddbruss.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
*.xcuserstate
.DS_Store
xcf.xcodeproj/project.xcworkspace/xcuserdata/toddbruss.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
